<form
  #registerForm="ngForm"
  (ngSubmit)="register()"
  autocomplete="off"
  class="card border-light m-a"
  style="min-width: 30rem"
>
  <h2 class="text-center text-white card-header">Register</h2>
  <div class="container card-body">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="model.userName"
        placeholder="Username"
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password"
      />
    </div>

    <div class="text-white text-center">
      Already have an account? Login above
    </div>

    <div class="form-group text-center mt-3">
      <button class="btn btn-success mr-2" style="width: 45%" type="submit">
        Register
      </button>
      <button
        class="btn btn-danger ml-2"
        style="width: 45%"
        type="button"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
